.results{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 20vh;
    margin: 0 auto;
    padding-top: 20px;
    overflow-x: scroll;
    background-color: var(--background-color-elements-group);
}

@media (min-width: 770px) {
    .results{
        height: 23vh;
        overflow-x: hidden;
        width: calc(90vw - 200px);
    }

    .results:hover{
        overflow-x: scroll;
    }
}

.separacion{
    height: 20px;
}