.results{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 20vh;
    margin: 0 auto;
    padding-top: 20px;
    overflow-x: scroll;
    background-color: var(--background-color-elements-group);
}

.separacion{
    height: 20px;
}