/*general*/
:root {
    --transparent: rgba(0, 0, 0, 0);
    --white: rgba(247, 247, 247, 1);
    --black: rgba(43, 43, 43, 1);
    --background-color-page: rgba(29,37,51,.8);
    --background-color-elements: rgba(29,37,51,1);
    --background-color-elements-group: rgba(29, 37, 51, 0.5);
}
html{
    background-color: var(--background-color-page);
}
button{
    background-color: var(--transparent);
}
button:focus { outline: none; }
input:focus { outline: none; }
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.one-line-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
html, button, a{
    color: var(--white);
}
p{
    margin-top: 5px;
    margin-bottom: 3px; 
}

/*menu y body*/
.page-content{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    height: 80vh;
    width: 100vw;
}

@media (min-width: 770px) {
    .page-content{
        top: 9vh;
        height: 80vh;
    }
}

.menu{
    background-color: darkcyan;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (min-width: 770px) {
    .menu{
        width: 200px;
        position: relative;
    }
}

.page{
   /* width: calc(100vw - 100px); /*todo el ancho - el ancho del menu*/
   width: 100vw;
    margin-right: 0;
    margin-left: auto;
}

@media (min-width: 770px) {
    .page{
        width: calc(100vw - 200px); /*todo el ancho - el ancho del menu*/
        margin: 0 auto;
    }
}

.menu-list{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.menu-item a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid var(--white);
    padding: 10px 0 5px 0;
}

@media (min-width: 770px) {
    .menu-item a{
        flex-direction: row;
    }
}

.menu-item a p{
    margin: 2px 0;
}

.search{
    position: fixed;
    left: 20vw;
    top: 2vh;
    height: 6vh;
}

.input-search{
    width: calc(45vw - 10px);
    height: calc(100% - 6px);
    background-color: var(--white);
    border-radius: 10px;
    border-color: var(--transparent);
}

@media (min-width: 430px) {
    .input-search{
        width: calc(50vw - 10px);
    }
}

.input-search::placeholder {
    color: var(--black);
}

.input-search{
    padding-left: 10px;
}