/*general*/
:root {
    --transparent: rgba(0, 0, 0, 0);
    --white: rgba(247, 247, 247, 1);
}
button{
    background-color: var(--transparent);
}
button:focus { outline: none; }

/*header*/
.header{
    background-color: green;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 10vh;
    
    @media (min-width: 900px) {
        height: 6vh;
    }
}

/*menu y body*/
.page-content{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vh;
    height: 80vh;
    width: 100vw;
}

.menu{
    background-color: red;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.page{
    width: calc(100vw - 200px); /*todo el ancho - el ancho del menu*/
}

.menu-list{
    padding: 0;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    border-bottom: 2px solid brown;
}