.results-complete{
    width: calc(100vw);
    height: calc(80vh - 90px);
    margin: 0 auto;
    padding-top: 20px;
    overflow-y: scroll;
    background-color: var(--background-color-elements-group);
}

@media (min-width: 770px){
    .results-complete{
        width: calc(100vw - 200px);
        height: calc(82vh - 90px);
    }
}

.results-complete .audio-preview{
    height: 20vh;
    display: inline-block;
}