.results-complete{
    width: calc(100vw);
    height: calc(80vh - 133px);
    margin: 0 auto;
    padding-top: 20px;
    overflow-y: auto;
    background-color: var(--background-color-elements-group);
}

@media (min-width: 770px){
    .results-complete{
        width: calc(100vw - 200px);
        height: calc(80vh - 90px);
        height: calc(80vh - 133px);
    }
}

.results-complete .audio-preview{
    height: 20vh;
    display: inline-block;
}

.button-add-audio{
    background-color: darkcyan;
    margin-right: 10px;
    height: 25px;
}