table{
    margin: 0 auto;
}

td{
    width: 125px;
}

td{
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
}

.row-selected{
    background-color: darkcyan;
    
}

.td-special{
    width: 35px;
}

.row-selected .td-special div{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("./icons/play.svg");
}

.playlist-resume{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 2vh 0;
}

.playlist-song-actions{
    background-color: var(--background-color-elements-group);
}

.playlist-resume-song-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    text-align: left;
}

.three-lines-text{
    overflow: scroll;
    text-overflow: ellipsis;/* no funcionó*/
    max-height: 60px;
}

@media (min-width: 770px){
    .three-lines-text{
        overflow: hidden;
        max-height: 200px;
    }
}
.playlist-text-control{
    width: 100%;
}

.playlist-desktop{
    max-height: calc(100% - 10vh); /*si tiene abiertas las opciones*/
    overflow-y: scroll;
}