/*player*/
.toolbar,
.player {
    background-color: var(--background-color-elements);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

@media (min-width: 770px) {
    .player{
    height: 9vh;
    }
}

.player-left{
    max-width: 25vw;
    margin: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.player-principal-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 7vh;
}

.player-control{
    width: 100%;
}

.input-volume{
    position: absolute;
    bottom: 15vh;
    right: -10vw;
    transform: rotate(270deg);
    width: 150px;
}

@media (min-width: 430px) {
    .input-volume{
        right: -4vw;
    }
}

@media (min-width: 770px) {
    .input-volume{
        right: -1vw;
        bottom: 12vh;
    }
}